
@import url(fonts.css);


html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100hw;
}

header {
  width: 100vw;
  height: 200px;
  position: fixed;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

#header-content {
  flex-grow: 1;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#title-holder {
  padding-top: 2.7vw;
  width: 1200px;
  margin: auto;
  text-align: center;
  font-family: AmaranthBold;
  font-size: 2.5vW;
  color: #fff;
}

#nav-holder {
  height: 48px;
  flex-shrink: 1;
  background-color: #24272c;
}

nav {
  width: 1200px;
  margin: auto;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
   margin: 0;
  padding: 0;
}

nav > ul > li > a {
  display: block; padding: 12px 20px; color: #fff; font-family: AmaranthBold; text-decoration: none;
}

nav > ul > li > a.selected {
  background-color: #302c4c;
}

#wrapper {
  background-color: #ecf1f7;
  width: 100vw;
  height: calc(100vh - 200px);
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 200px;
}

main {
  position: relative;
  width: 1200px;
  margin: auto;
  transition: 1.5s;
}

.subtitle {
  flex-grow: 1;
}

.subtitle > h2 {
  display: block;
  text-align: center;
  padding-top: 15px;
  color: #322f50;
  fonit-size: 124px;
  font-family: AmaranthRegular;
}

.carrousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

.slider-holder {
  position: absolute;
  left: 100px;
  width: calc(1200px - 200px);
  height: 600px;
  overflow: hidden;
}

.slider {
  width: 10000px;
  height: 650px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 28px;
  position: relative;
  left: 0;
  transition: 1.5s;
}

.thumbnail {
  position: static;
  width: 275px;
  height: 550px;
  margin-right: 14px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px #ccc;
  transition: 0.5s;
}

.thumbnail-image {
  width: 100%;
  height: 280px;
  overflow: clip;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 3px 1px #ccc;
}

.thumbnail-content {
  height: 255px;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px 10px 15px;
}

.thumbnail-description {
  flex-grow: 2;
}

.thumbnail-content > div > h3,
.thumbnail-content > div > h4 {
  font-family: AmaranthBold;
}

.thumbnail-content > div > h3 {
  font-size: 23px;
}

.thumbnail-content > div > h4 {
  font-size: 13px;
}

.thumbnail-content > div > p {
  font-size: 16px;
  font-family: AmaranthRegular;
}

.detail-link {
  display: block;
  height: 15px;
  padding: 12px 10px;
  font-family: AmaranthRegular;
  flex-shrink: 2;
  border-top: 1px solid #e1e1e1;
  text-decoration: none;
  color: #000;
}

.left-arrow {
  background-image: url(../images/carrousel/icon-chevron-left.svg);
}

.right-arrow {
  background-image: url(../images/carrousel/icon-chevron-right.svg);
  right: 0;
}

.left-arrow, .right-arrow {
  position: absolute;
  width: 100px;
  height: 600px;
  flex-shrink: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

footer {
  width: 100vw;
  height: 275px;
  position: relative;
  bottom: 0;
  background-color: #24272c;
  flex-shrink:1;
  padding: 3.5vw 5.7vw 0 5.7vw;
}

footer > div.footer-content {
  width: 1200px;
}

footer > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

footer > ul > li {
  width: 24vw;
  padding: 0;
  margin: 0;
}

footer > ul > li > a {
  display: block; font-size: 1.2vw; width: 31vw; font-family: AmaranthBold; color: #fff; text-decoration: none;
}

footer > ul > li > ul {
  padding-top: 1vw; line-height: 1.5vw; padding: 0; margin: 0; margin-top: 0.7vw;
}

footer > ul > li > ul > li > a {
  font-family: AmaranthRegular; font-size: 1vw; color: #989fa5; text-decoration: none; padding: 0; margin: 0;
}

footer > ul > li > ul > li > a.last-item {
  display: block;
  width: 38vw;
}

footer > div {
  display: flex;; text-align: center; flex-direction: row; width: 1200px; margin: 2.5vw auto 0 auto;
}

footer > div > a {
  margin: 0.6vw; display: block; height: 2.8vw; width: 2.8vw; border: 1px solid #616469; border-radius: 1.4vw;
}

footer > div > a > img {
  margin: auto; margin-top: calc((2.8vw/2)-(1.6vw/2)); stroke: none; fill: #b9bdc0; height: 1.4vw; padding-top: 0.8vw;
}

footer ul, footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
