
@import url(fonts.css);


html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100hw;
}

header {
  width: 100vw;
  height: calc(48px + 22%);
  position: fixed;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

#header-content {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #24272c;
  background-image: url('../images/header-bg.jpg');
}

#title-holder {
  padding-top: 9vh;
  width: 80vw;
  margin: auto;
  text-align: center;
  font-family: AmaranthBold;
  font-size: 2.8rem;
  color: #fff;
}

#nav-holder {
  height: 48px;
  flex-shrink: 1;
  background-color: #24272c;
}

nav {
  max-width: 65%;
  margin: auto;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
   margin: 0;
  padding: 0;
}

nav > ul > li > a.menu-link {
  display: block; padding: 12px 20px; color: #fff; font-family: AmaranthBold; text-decoration: none;
}

nav > ul > li > a.menu-link:hover {
  background-color: #484272;
}

nav > ul > li > a.menu-link.selected {
  background-color: #302c4c;
}

#wrapper {
  background-color: #ecf1f7;
  width: 100vw;
  top: calc((22% + 48px));
  height: calc(100vh - (22% + 48px));
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  position: relative;
  width: 65vw;
  margin: auto;
  transition: 1.5s;
}

.subtitle {
  flex-grow: 1;
}

.subtitle > h2 {
  display: block;
  text-align: center;
  padding-top: 15px;
  color: #322f50;
  fonit-size: 124px;
  font-family: AmaranthRegular;
}

.carrousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

.slider-holder {
  padding: 20px 10px;
  position: absolute;
  left: 8%;
  /* default main width - (( arrow width * 2 ) + (this item's padding left and right))*/
  width: calc(65vw - ((8% * 2) + (10px * 2)));
  height: 600px;
  overflow: hidden;
}

.slider {
  width: 10000px;
  height: 650px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: 1.5s;
}

.thumbnail {
  position: static;
  width: 275px;
  height: 550px;
  margin-right: 14px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px #ccc;
  transition: 0.5s;
}

.thumbnail-image {
  width: 100%;
  height: 280px;
  overflow: clip;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 3px 1px #ccc;
}

.thumbnail-content {
  height: calc(100% - 280px);
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px 10px 15px;
}

.thumbnail-description {
  flex-grow: 2;
}

.thumbnail-content > div > h3,
.thumbnail-content > div > h4 {
  font-family: AmaranthBold;
}

.thumbnail-content > div > h3 {
  font-size: 23px;
}

.thumbnail-content > div > h4 {
  font-size: 13px;
}

.thumbnail-content > div > p {
  font-size: 16px;
  font-family: AmaranthRegular;
}

a.detail-link {
  height: 15px;
  position: relative;
  display: block;
  bottom: 0;
  padding: 12px 10px 25px 10px;
  font-family: AmaranthRegular;
  flex-shrink: 2;
  border-top: 1px solid #e1e1e1;
  text-decoration: none;
  color: #000;
}

a.detail-link:hover {
  color: #605898;
}

.left-arrow {
  background-image: url(../images/carrousel/icon-chevron-left.svg);
}

.right-arrow {
  background-image: url(../images/carrousel/icon-chevron-right.svg);
  right: 0;
}

.left-arrow, .right-arrow {
  position: absolute;
  width: 8%;
  height: 550px;
  flex-shrink: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: auto;
}

footer {
  margin-top: 150px;
  width: 100vw;
  min-height: 350px;
  position: relative;
  bottom: 0;
  background-color: #24272c;
  flex-shrink:1;
}

footer > div.footer-content {
  max-width: 65vw;
  margin: auto;
  padding: 50px 17vw 0 17vw;
}

footer > div.footer-content > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

footer > div.footer-content > ul > li {
  width: 25%;
  padding: 0;
  margin: 0;
}

footer > div.footer-content > ul > li > a {
  display: block; font-size: 1.2vw; width: 31vw; font-family: AmaranthBold; color: #fff; text-decoration: none;
}

footer > div.footer-content > ul > li > ul {
  padding-top: 1vw; line-height: 1.5vw; padding: 0; margin: 0; margin-top: 0.7vw;
}

footer > div.footer-content > ul > li > ul > li > a {
  font-family: AmaranthRegular; font-size: 1vw; color: #989fa5; text-decoration: none; padding: 0; margin: 0; padding-right: 20px;
}

footer > div.footer-content > ul > li > ul > li > a:last-child {
  display: block;
}

footer > div.footer-content > div.socials-column {
  width: 220px; margin: 10px auto; display: flex;; flex-direction: row; padding-top: 25px;
}

footer > div.footer-content > div.socials-column > div.socials {
  display: flex;; flex-direction: row; flex-shrink: 2;
}

footer > div.footer-content > div.socials-column > div.socials > a {
  margin: 7px; display: block; height: 40px; width: 40px; border: 1px solid #616469; border-radius: 20px;
}

footer > div.footer-content > div.socials-column > div.socials > a > img {
  margin: auto; stroke: none; fill: #b9bdc0; height: 20px; padding-top: 10px; padding-left: 10px;
}

footer > div.footer-content ul, footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.copyright {
  padding-top: 1.2vw; padding-bottom: 3vw; text-align: center;
}

.copyright > span {
  font-size: 12px; color: #565b5f;
}





/* start media queries */

@media (max-width: 1300px) {

  .slider-holder {
    /* default main width - (( arrow width * 2 ) + (this item's padding left and right))*/
    width: calc(100vw - ((8% * 2) + (10px * 2)));
  }

  main {
    width: 100%;
  }

  nav {
    max-width: 100%;
  }

  footer > div.footer-content {
    max-width: 100vw;
  }

  footer > div.footer-content > ul > li > a {
    font-size: 16px;
  }

  footer > div.footer-content > ul > li > ul {
    line-height: 20px;
  }

  footer > div.footer-content > ul > li > ul > li > a {
    font-size: 14px;
  }
}
  


@media (max-width: 450px) and (orientation: portrait) {

  header {
    height: 25%;
  }

  #wrapper {
    top: 25%;
    height: calc(100vh - 25%);
  }

  #title-holder {
    padding-top: 14%;
    font-size: 1.4rem;
  }
}

@media (max-width: 860px) and (orientation: landscape) {

  header {
    height: calc(18% + 48px);
  }

  #title-holder {
    padding-top: 4.5%;
    font-size: 1.5rem;
  }

  nav {
    max-width: 100%;
  }

  #wrapper {
    top: calc(18% + 48px);
    height: calc(100vh - (18% + 48px))
  }

  .left-arrow, .right-arrow {
    background-position: center 30%;
  }
}

@media (max-width: 860px) {

  /* thumbnails  */

  .carrousel,
  .slider {
    height: 450px;
  }

  .slider-holder {
    left: 10%;
    /*    width: 80%;*/
    /* default main width - (( arrow width * 2 ) + (this item's padding left and right))*/
    width: calc(100vw - ((10% * 2) + (10px * 2)));
    height: 450px;
  }

  .thumbnail {
    width: 225px;
    height: 400px;
  }

  .thumbnail-image {
    height: 70px;
  }

  .thumbnail-content {
    height: calc(100% - 70px);
  }

  .left-arrow, .right-arrow {
    width: 10%;
    height: 400px;
  }

  /* footer */

  footer > div.footer-content {
    padding-top: 15px;
  }

  footer > div.footer-content > ul {
    flex-direction: column;
  }

  footer > div.footer-content > ul > li {
    width: 100%;
  }

  footer > div.footer-content > ul > li > a {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
  }

  footer > div.footer-content > ul > li > a:first-child {
    margin-top: 40px;
  }

  footer > div.footer-content > ul > li > ul {
    margin-left: 12px;
  }
}


