
@import url(fonts.css);

body {
  margin: 0; padding: 0; height: 100hw;
}

header {
  width: 100vw; height: 200px; position: fixed; flex-shrink: 1; display: flex; flex-direction: column;
}

#header-content {
  flex-grow: 1; background-image: url('../assets/images/header-bg.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;
}

#title-holder {
  width: 1200px; margin: auto; text-align: center;
}

#nav-holder {
  height: 36px; flex-shrink: 1;
}

nav {
  width: 1200px; margin: auto;
}

nav > ul {
  display: flex; flex-direction: row; list-style: none; margin: 0; padding: 0;
}

nav > ul > li {
   margin: 0; padding: 0;
}

#wrapper {
  background-color: #ecf1f7; width: 100vw; height: calc(100vh - 200px); position: fixed; overflow-y: scroll; overflow-x: hidden; top: 200px;
}

main {
  position: relative; width: 1200px; margin: auto;
}

.subtitle {
  flex-grow: 1;
}

.subtitle > h2 {
  display: block; text-align: center; padding-top: 15px; color: #322f50; fonit-size: 124px; font-family: AmaranthRegular;
}

.carrousel {
  position: relative; display: flex; flex-direction: row; width: 100%; height: 600px;
}

.slider-holder {
  ccc; position: absolute; left: 100px; width: calc(1200px - 200px); height: auto; overflow: hidden;
}

.slider {
  width: 10000px; height: 650px; flex-grow: 1; display: flex; flex-direction: row; position: relative; left: 0; transition: 1.5s;
}

.thumbnail {
  position: static;; display: flex; flex-direction: column; width: 275px; height: 550px; margin-right: 15px; background-color: #fff; border-radius: 5px; box-shadow: 1px 1px 3px 1px #ccc;
}

.thumbnail-image {
  width: 100%; height: 350px;flex-shrink: 1; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 5px 5px 0 0; box-shadow: 1px 1px 3px 1px #ccc;
}

.thumbnail-content {
  flex-grow: 1; text-align: center; display: flex; flex-direction: column; padding: 0 15px 10px 15px;
}

.thumbnail-content > div {
  flex-grow: 1;
}

.thumbnail-content > div > h3,
.thumbnail-content > div > h4 {
  font-family: AmaranthBold;
}

.thumbnail-content > div > h3 {
  font-size: 23px;
}

.thumbnail-content > div > h4 {
  font-size: 13px;
}

.thumbnail-content > div > p {
  font-size: 16px; font-family: AmaranthRegular;
}

.detail-link {
  display: block; height: 15px; padding: 12px 10px; font-family: AmaranthRegular; flex-shrink: 1; border-top: 1px solid #e1e1e1; text-decoration: none; color: #000;
}

.left-arrow {
  background-image: url(../images/carrousel/icon-chevron-left.svg);
}

.right-arrow {
  background-image: url(../images/carrousel/icon-chevron-right.svg);
  right: 0;
}

.left-arrow, .right-arrow {
  position: absolute; width: 100px; height: 600px; flex-shrink: 1; cursor: pointer; background-repeat: no-repeat; background-position: center; background-size: auto;
}

footer {
  width: 100vw; height: 200px; position: relative; bottom: 0;
}
